rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Função para verificar se o usuário está autenticado
    function isAuthenticated() {
      return request.auth != null;
    }
    
    // Função para verificar se o usuário é administrador
    function isAdmin() {
      return isAuthenticated() && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.is_admin == true;
    }
    
    // Regras para a coleção de usuários
    match /users/{userId} {
      allow read: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      allow write: if isAdmin() || (isAuthenticated() && request.auth.uid == userId);
    }
    
    // Regras para a coleção de documentos
    match /documents/{documentId} {
      allow read: if isAuthenticated() && (
        resource.data.user_id == request.auth.uid || isAdmin()
      );
      allow create: if isAuthenticated();
      allow update, delete: if isAuthenticated() && (
        resource.data.user_id == request.auth.uid || isAdmin()
      );
    }
  }
} 